.homeone{

    padding:40px;
    font-size:14px;
    font-family: 'Calibre';
    text-align: center;

    margin-bottom: 3rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 43.7%;
    position: relative !important;
    word-wrap: break-word;
    }

.content{

    padding-left:20px;
    font-size:12px;
    font-family: 'Calibre';
    margin:1rem !important;
    }

.fonnt {
    font-size:12px;
    font-family: 'Calibre';
}
.suhome{
    padding: 3rem;
    margin:1rem;
}
.specthone{
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.filler{
    padding-left: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    width: 100% !important;
    box-sizing: border-box;
}
