{% extends 'misitio/base.html' %}
{% block content %}

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT US</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Printr3d , la empresa lider en impresoras 3d
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Nuestra empresa empezo siendo una pequeña tienda en Vigo ahora es la empresa lider en la venta de impresoras 3d , con sedes en mas de 20 paises y mas de 1000 empleados.</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="/static/img/logo.png" alt="potoabout" />
                </figure>
            </div>
        </div>
    </div>
</section>



</div>
{% endblock %}