<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="UTF-8">
    <title>3DPrint</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body class="{{dbg}}">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none ">
          <img class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" src="/static/img/logo.png" ><use xlink:href="/static/img/3d-printer.png"></use></img>
        </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary text-white">Home</a></li>
            <li><a href="{% url 'clientes_list' %}" class="nav-link px-2 text-white">Clientes</a></li>
            <li><a href="{% url 'Productos' %}" class="nav-link px-2 text-white">Products</a></li>
            <li><a href="{% url 'About' %}" class="nav-link px-2 text-white">About</a></li>
          </ul>
      </div>
    </div>
  </header>
  <main >
    <div>
        <div class="fonnt">
          <div>
            {% block content %}

            {% endblock %}
          </div>
        </div>
    </div>
  </main>

</body>

<footer class="footer mt-auto  py-3 bg-muted">
    <div class="container">
      <span class="text-muted"><a href="{% url 'About' %}" class="nav-link px-2 text-dark">About us</a></span>
    </div>
  </footer>

</html>

