<!DOCTYPE html>
{% extends 'misitio/base.html' %}
{% block content %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Figurine Offer</p>
            <div
              class=" d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/hellpit.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">figurine</a></p>
              <p class="small text-danger"><s>$60</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"><a href="{% url 'product_detail' %}?producto=Abominacion del foso" class="nav-link">Abominacion del foso</a></h5>
              <h5 class="text-dark mb-0">$50</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Printer Offer</p>
            <div
              class=" d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/impresora.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">3D printer</a></p>
              <p class="small text-danger"><s>$1000</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"><a href="{% url 'product_detail' %}?producto=Creality ENDER-6" class="nav-link">Creality ENDER-6</a></h5>
              <h5 class="text-dark mb-0">$700</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Material Offer</p>
            <div
              class=" d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/platic.jpg"
            class="card-img-top" alt="Gaming Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">plastic</a></p>
              <p class="small text-danger"><s>$15</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"><a href="{% url 'product_detail' %}?producto=plastic" class="nav-link">Plastic</a></h5>
              <h5 class="text-dark mb-0">$9</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Material Offer</p>
            <div
              class=" d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/resign.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Resing</a></p>
              <p class="small text-danger"><s>$20</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"> <a href="{% url 'product_detail' %}?producto=Resing" class="nav-link">Resing</a></h5>
              <h5 class="text-dark mb-0">$10</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Figurine Offer</p>
            <div
              class=" d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/Megaboss.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
              <p class="small text-danger"><s>$60</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">

              <h5 class="mb-0"><a href="{% url 'product_detail' %}?producto=MEGAboss" class="nav-link">MEGAboss</a></h5>

              <h5 class="text-dark mb-0">$50</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Printer Offer</p>
            <div
              class="  d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
            </div>
          </div>
          <img src="/static/img/anycubic.jpg"
            class="card-img-top" alt="Gaming Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
              <p class="small text-danger"><s>$1000</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"> <a href="{% url 'product_detail' %}?producto=Anycubic Photon M3 MAX" class="nav-link">Anycubic Photon M3 MAX</a></h5>
              <h5 class="text-dark mb-0">$800</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}