{% extends 'misitio/base.html' %}
{% block content %}
{% for Product in producto %}Product
<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"><img src="{{ Product.url }}" id="main_product_image"
                                                 width="350"></div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center"><h3>{{ Product.nombre }}</h3>    <span
                            class="heart"><i class='bx bx-heart'></i></span></div>
                    <div>
                      {{ Product.Descripcion }}
                    </div>
                    <p></p>
                    <h3>{{ Product.precio }}</h3>


                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row"><i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                                class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i></div>
                        <span>441 reviews</span>

                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3 " >
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Compra Completada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Compra completada , Gracias por comprar en Printred.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}